:root {
    background-color: gainsboro;
  }
  
  body {
    margin: 2em;
    padding: 2em;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  main {
    margin: 2em;
    padding: 2em;
  }
  
  img {
    width: 100%;
  }
  
  .element {
    shape-outside: circle(50% at 0 0);
  }
  