:root {
    background: radial-gradient(red, silver);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 2em;
    padding: 2em;
  }
  
  header {
    margin: 1em;
    padding: 2em;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  footer {
    margin: 1em;
    padding: 2em;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  .logo {
    font-weight: 900;
  }
  
  p {
    padding: 2em;
  }
  
  .line {
    width: 500px;
    height: 1100px;
    background: linear-gradient(red, silver);
    position: absolute;
    z-index: -1;
  }
  