@import url("https://fonts.googleapis.com/css?family=Crimson+Text:700");

body {
  font-family: "Crimson Text", serif;
  color: #fffffb;
  text-align: center;
  font-size: 5.2rem;
  font-weight: bold;
}

section {
  padding: 30vh 0;
}

.one {
  background: #ffc145;
  position: relative;
}

.one::after,
.one::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background: #ffc145;
  bottom: -1em;
  z-index: 100;
}

.one::before {
  right: 50%;
  transform: skew(0, 20deg);
}

.one::after {
  left: 50%;
  transform: skew(0, -20deg);
}

.one__img {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

/* stupenda sta parte */

.two {
  background: #ffcbcb;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.two__img {
  clip-path: circle(30%);
}
.three {
  background: blue;
}

.three__img {
  clip-path: ellipse(130px 140px at 30% 20%);
}