body {
    background: plum;
    margin: 2em;
}

h1 {
    font-size: 12em;
}

p {
    font-size: 1.1em;
}

.parent {
    background-image: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    overflow: hidden;
}

.line {
    width: 1500px;
    height: 40px;
    background: salmon;
    transform: rotate(25deg);
}