@import url("https://fonts.googleapis.com/css?family=Crimson+Text:700");

body {
  background-color: plum;
  margin: 4em;
}

h1 {
  font-size: 24rem;
  font-family: "Crimson Text", serif;
  top: 30px;
  position: absolute;
  color: plum;
}

img {
  width: 100%;
}
