body {
    background: radial-gradient(orange, red);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: blue;
}

img {
    width: 100%;
    box-shadow: 16px 15px 9px blue;
    
}

h1 {
    font-size: 8rem;
}

p {
    font-size: 1.3rem;
    background: black;
    padding: 1em;
    border: 5px solid white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}