:root {
    background: indianred;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 2em;
    background-image: url(https://images.unsplash.com/photo-1524613032530-449a5d94c285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  }
  
  h1 {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px yellow;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px yellow;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  img {
    width: 100%;
  }
  
  #logo {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px yellow;
    position: fixed;
    top: 0;
    left: 2em;
  }
  
  #navbar {
    background: black;
    box-shadow: 2px 2px 3px yellow;
    position: fixed;
    top: 0;
    right: 2em;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    color: yellow;
    padding: 1em;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin: 2em;
    padding: 1em;
  }
  
  footer {
    font-size: 3rem;
    margin: 1em;
    padding: 2em;
  }
  