body {
	margin: 0;
	padding: 0;
}



.titolo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
}

h1 {
	font-size: 8rem;
	font-weight: bolder;
}

.abso {
	position: absolute;
	top: 19em;
	left: 26em;
	mix-blend-mode: difference;
	color: rgb(18, 201, 233);

}