* {
    box-sizing: border-box;
}


body {
    background: linear-gradient(10deg, pink 10%, whitesmoke 90%);
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

header {
    margin: 2em;
    padding: 2em;
}


footer {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1em;
    background: whitesmoke;
}

.card {
    border: none;
    border-radius: 30%;
}

.card-header {
    background: burlywood;
    border-radius: 30%;
}



