:root {
    background: linear-gradient(white, silver);
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 2em;
}

header {
    padding: 1em;
}

.container {
    margin: 1em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 5rem;
}


h2 {
    font-size: 2rem;
}

p {
    font-size: .6rem;
    padding: .5em;
}