@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgb(217, 203, 229), rgb(217, 174, 219), rgb(215, 144, 209), rgb(212, 112, 199), rgb(207, 75, 189));
}

.jumbotron {
    background: linear-gradient(rgb(179, 249, 246), rgb(177, 225, 229), rgb(174, 201, 213), rgb(170, 178, 197), rgb(165, 155, 181));
}


header {
    margin: 4em;
    padding: 2em;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
}




.navbar-brand a {
font-weight: bold;
color: black;

}


section {
    padding: 3em;
}



footer {
    margin: 2em;
    padding: 2em;
}