:root {
    background: linear-gradient(purple, red);
    background-repeat: no-repeat;
  }
  
  body {
    margin: 0;
    padding: 2em;
  }
  
  header {
    margin: 0;
    padding: 2em;
  }
  
  main {
    margin: 0;
    padding: 18em;
  }
  