body {
    padding: 5em;
    background: mediumspringgreen;
    font-size: 3vw;
    overflow: hidden;
    animation-name: bg;
    animation-duration: 5s;
}

h1 {
    font-size: 90rem;
    box-shadow: whitesmoke 20px 20px 20px 1500px;
    padding: 2em;
}

img {
    width: 300%;
}

main {
    overflow: hidden;
    
}

@keyframes bg {
    0% {background: white;}
    50% {background: red;}
}

.ex {
    background: linear-gradient(whitesmoke, blue);
    width: 1200px;
    height: 900px;
}