section {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 99px;
  color: whitesmoke;

}

h2 {
  color: whitesmoke;
  font-size: 66px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'EB Garamond', serif;
}

p {
  color: whitesmoke;
  font-size: 33px;

}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {

}



.products {
  color: whitesmoke;
  font-size: 70px;
}
