@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700");

:root {
  background-color: beige;
}

body {
  padding: 2em;
}

h1 {
  font-size: 8rem;
  font-family: Quattrocento;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-family: Quattrocento;
  font-weight: 700;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  font-size: 2rem;
  padding: 1em;
}

main {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 20%;
}

img {
  width: 100%;
  box-shadow: 8px 7px 8px black;
}

#logo {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

footer {
  text-align: center;
  background-color: white;
  margin: 100px;
  box-shadow: 8px 7px 8px black;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#navbar {
  background-color: white;
  box-shadow: 8px 7px 8px black;
}
