body {
    padding: 2em;
    font-size: 3rem;
}

div {
    animation-name: iso;
    animation-duration: 45s;
}

@keyframes iso {
    0% {background: linearGradient(white, pink)}
    100% {background: linearGradient(pink, white)}
   
}