body {
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}

header {
    margin: 2em;
    padding: 3em;
}

section {
    padding: 1em;
    max-width: 1800px;
}

img 
{
   width: 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
}