/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: black;
  animation-name: box;
  animation-duration: 20s;
  
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);


}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.circle {
  width: 600px;
  height: 500px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: yellow;
  position: absolute;
  top: 5em;
  left: 2em;
  mix-blend-mode: difference;
  animation-name: circle;
  animation-duration: 20s;
}

.circle2 {
  width: 500px;
  height: 500px;
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  background-color: purple;
  position: absolute;
  top: 5em;
  left: 7em;
  mix-blend-mode: difference;
  animation-name: circle2;
  animation-duration: 10s;
}

.line {
  width: 500px;
  height: 200px;
  
  background-color: blue;
  position: absolute;
  top: 5em;
  left: 7em;
  mix-blend-mode: difference;
  animation-name: line;
  animation-duration: 10s;
}

@keyframes line {
  50% {transform: rotate(150deg);}
  75% {background: red;}
}

@keyframes circle {
  50% {left: 50em;}
  75% {background: red;}
}

@keyframes box {
  50% {transform: skew(-10deg);}
  75% {background: white;}
}