:root {
    background: red;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  
  h1 {
    font-size: 11rem;
  }
  
  img {
    width: 100%;
  }
  
  h2 {
    font-size: 6rem;
    position: absolute;
    color: red;
    bottom: 50px;
    top: 200vh;
    right: 30px;
    left: 40px;
    border: 1px solid black;
  }
  