html {
	background: linear-gradient(rgb(97, 222, 218), rgb(146, 224, 213), rgb(183, 226, 208), rgb(215, 228, 202), rgb(244, 229, 197));}



body {
	margin: 2em;
	padding: 2em;
	background-color: transparent;
	
}


h1 {
	font-size: 7rem;
	font-weight: bolder;
	padding: 0;
	margin: 0;
	
}

