@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #4f3dc5;
    color: #d9d5ef;
}

header {
    margin: 4em;
    padding: 4em;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
}




.navbar-brand a {
font-weight: bold;
color: black;

}


section {
    padding: 2em;
}



footer {
    margin: 2em;
    padding: 2em;
}