body {
    background: #000;
    margin: 20px;
    padding: 20px;
  }
  
  h1,
  h2,
  h3 {
    color: yellow;
    font-family: "Roboto", sans-serif;
  }
  
  p {
    font-size: 4vh;
  }
  
  .intro {
    font-size: 5vh;
    display: flex;
  }
  
  img {
    clip-path: polygon(18% 25%, 71% 0, 95% 81%, 25% 82%);
  }
  
  .section2 {
    background: yellow;
  }
  
  .section3 {
    background: purple;
    margin-left: 0;
    padding: 30px;
  }

  .section4 {
background: yellowgreen;
display: flex;
  }

  .section4 img {
    -webkit-clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .column img {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

.ciao {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
  
.hard-grad {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      -45deg
      , rgba(255, 136, 152, .5) 0%
      , rgba(255, 136, 152, .5) 50%
      , rgba(255, 199, 153, .5) 50%
      , rgba(255, 199, 153, .5) 100% 
    );
  }
  
.hard-grad-2 {
    position: absolute;
    width:500px;
    height:500px;
    background: linear-gradient(
      45deg
      , rgba(100, 199, 204, .5) 0%
      , rgba(100, 199, 204, .5) 50%
      , rgba( 18, 136, 152, .5) 50%
      , rgba( 18, 136, 152, .5) 100% 
    );
  }