body {
    background: radial-gradient(whitesmoke 30%, gray 35%, lightgray 35%);
    margin: 2em;
}

.container {
    background: magenta;
    padding: 2em;
}

.second-container {
    background: mediumorchid;
    padding: 2em;
}


h1 {
    font-size: 8rem;
}

p {
    font-size: 1.2rem;
}

.ex {
    width: 600px;
    height: 30px;
    background: mediumspringgreen;
    border: 5px solid whitesmoke;
}