body {
    background-image: url(https://images.unsplash.com/photo-1579601827973-13458d2d5c48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);

background-size: cover;
background-repeat: no-repeat;

}

h1 {
    padding: 2em;
    font-size: 22rem;
    
    background: yellow;
    
    color: black;
    mix-blend-mode: overlay;
}