* {
  margin: 0;
  padding: 0;
}

.screen {
  height: 100%;
  width: 100%;
  background: linear-gradient(150deg, rgba(0,215,255,0.746532654494382) 0%, rgba(0,215,255,1) 50%, rgba(0,91,255,1) 100%);
}

.wrapper {
  display: grid;
  height: 250px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr)
}

.fa-sun {
  color: #f7ff00;
  padding: 15px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 3rem;
  background: -webkit-linear-gradient(180deg, #ff0500, #f7ff00, #02ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  text-align: center;
  
}

.intro-body {
  text-align: center;
  padding: 0 25px;
  color: white;
  font-family: 'Poller One', cursive;
  font-size: 1.3rem;
}

.sel-intro {
  text-align: center;
  font-family: 'Poller One', cursive;
  color: #f7ff00;
  font-size: 1.7rem;
}

.dx {
  color: #ff0500;
}

.sx {
  color: #02ff00;
}

.btn-1 {
  border-color: #02ff00;
  width: 120px;
  height: 75px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-family: 'Poller One', cursive;
}

.btn-2 {
  border-color: #f7ff00;
  width: 120px;
  height: 75px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-family: 'Poller One', cursive;
}

.btn-3 {
  border-color: #ff0500;
  width: 120px;
  height: 75px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-family: 'Poller One', cursive;
}

p {
  font-size: 1.2rem;
  font-family: 'Poller One', cursive;
  color: whitesmoke;
  padding-left: 25px;
  
}


/* gird principale */

.main {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "bla bla bla"
                      "intro intro intro"
                      "r3 r3 r3"
                      "r4 r4 r4"
}

.r1 {
  grid-area: bla;
}

.r2 {
  grid-area: intro;
}

.r3 {
  grid-area: r3;
  display: flex;
  justify-content: space-around;
}

.r4 {
  grid-area: r4;
  display: flex;
  justify-content: space-around;
}


.r5 {
  grid-area: r5;
  display: flex;
  justify-content: space-around;
}

footer {
  grid-area: r5;

  
}

img {
  box-shadow: 10px 10px;
}