body {
    background: linear-gradient(30deg, purple 30%, silver 70%);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 1em;
    font-size: 1.9rem;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 1em;
    list-style: none;
}

h1 {
    font-size: 6rem;
}

header {
    padding: 2em;
}

main {
    margin: 4em;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 3em;
}