:root {
    background-color: lawngreen;
    color: black;
  }
  
  body {
    margin: 3em;
  }
  h1 {
    font-size: 13rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.9rem;
  }
  