body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    
    margin: 2em;
    background: violet;

}

h1 {
    font-size: 17rem;
}

main {
    background: repeating-linear-gradient(gray, silver, pink);
    padding: 2em;
    box-shadow: pink 20px 10px 10px;
}

main:hover {
    background: blue;
color: pink;

}