* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(4,4,4,1) 20%, rgba(255,255,255,1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyes {
    height: 70px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    border-top: none;
}

.fa-ghost {
    color: white;
    animation-name: tada;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    position: relative;
    right: 15px;
    bottom: 15px;
}

@keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

h1 {
  font-family: 'Nocifer', cursive;
}

div {
  font-family: 'Nocifer', cursive;
}

.bg-info {
  background: black;
}
