body {
    background: linear-gradient(10deg, purple 20%, pink 80%);
}

header {
    background-image: url(https://images.unsplash.com/photo-1574078270775-57062badb900?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
margin: 0;
padding: 3em;
text-align: center;
}

h1 {
    font-size: 12rem;
}

main {
    padding: 2em;
    box-shadow: 12px 13px 15px whitesmoke;
}


footer {
    padding: 3em;
}