@import url("https://fonts.googleapis.com/css?family=Crimson+Pro:300,600&display=swap");
body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.logo {
  position: fixed;
  top: 0.5em;
  left: 5%;
  color: white;
  font-size: 2rem;
}

nav {
  position: fixed;
  right: 5%;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
  padding: 1em;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 10rem;
  font-family: "Crimson Pro", serif;
}

h2 {
  font-size: 5rem;
  font-family: "Crimson Pro", serif;
}

h3 {
  font-size: 2rem;
  font-family: "Crimson Pro", serif;
}

.intro {
  position: absolute;
  top: 700px;
  left: 50%;
}

main {
  margin: 0;
  padding: 0;
}

article {
  margin: 1em;
  margin-top: 8em;
}

article h3,
p {
  width: 300px;
}

.article-2 {
  margin: 1em;
  margin-top: -9em;
  padding-left: 30%;
}

.article-2 h3,
p {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  align-items: center;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: auto;
  align-items: flex-start;
}

img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr 35%;

  margin: 0;
  margin-top: 6em;
  padding: 0;
}

.img-right {
  padding-top: 9em;
  width: 120%;
}
.four {
  margin: 2em;
  padding-left: 8em;
  padding-right: 8em;
}

button {
  background: transparent;
  border: 1px solid black;
  padding: 1em;
  font-size: 1.5rem;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5em;
  margin-bottom: 5em;
}

figure img {
  width: 500px;
  text-align: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  align-items: flex-end;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  align-items: start;
}

footer {
  margin: 2em;
  padding: 2em;
  display: flex;
}
