body {
    margin: 2em;
}

header {
    padding-bottom: 5em;
    padding: 2em;
    margin: 3em;
}

main {
    margin-top: 5em;
    margin: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 3em;
   
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

@media screen and (max-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }
}