body {
    margin: 2em;
    padding: 2em;
    background: red;
    color: blue;
    mix-blend-mode: screen;
   
}

h1 {
    font-size: 6rem;
}

.line {
   
    background: white;
}

.one {
    width: 300px;
    height: 3px;
    animation-duration: 15s;
    animation-name: one;
    }

.two {
    width: 400px;
    height: 3px;
    animation-duration: 15s;
}

.three {
    width: 500px;
    height: 3px;
    animation-duration: 15s;
}

@keyframes one {
    50% {width: 900px;}
}