:root {
    font-size: 2vw;
  }
  
  html,
  body {
    background: paleturquoise;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 5rem;
    font-weight: bold;
    mix-blend-mode: luminosity;
    color: gold;
  }
  
  .logo {
    font-size: 2rem;
    margin: 0.5em;
    text-decoration: underline;
  }
  
  main {
    margin: 2em;
    padding: 3em;
    border: 3em solid gold;
  }
  
  header {
    margin: 1em;
    padding: 2em;
  }
  
  .hero {
    position: relative;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  footer {
    margin: 1em;
    padding: 1em;
    font-size: 2.5rem;
  }
  