.img {
    width: 100%;
}

.sandbox img:hover {
    cursor: crosshair;
}

.greyscale {
    filter: grayscale(1);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(1);
}

.sepia {
    filter: sepia(1);
}