:root {
    background-color: red;
    color: black;
  }
  
  body {
    margin: 3em;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  
  h1 {
    font-size: 13rem;
  }
  
  img {
    width: 100%;
  }
  