* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 190px;
}

.divA {
	height: 75px;
	width: 75px;
	background-color: blue;
	margin-top: 5px;
	margin-left: 5px;
}

.divB {
	height: 75px;
	width: 75px;
	background-color: red;
	margin-left: 5px;
}

.box1 {
	position: static;
	left: 50px;
	top: 5px;
}

.box2 {
	position: relative; /* se al relative non metti l'offest non cambia niente rispetto allo static*/
	left: 50px;
	top: 5px;
}

.box4 {
	position: absolute;
	left: 700px;
	top: 25px;
}

.box6 {
	position: fixed;
	left: 700px;
	top: 450px;
}

p {
	margin-left: 10px;
}

h4 {
	animation-name: cc;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	font-size: 46px;
}

@keyframes cc {
	10% {color: red;}
	25% {color: green;}
	50% {color: yellow;}
	75% {color: hotpink;}
	90% {color: blue;}
}

body {
  background: url('./2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
