:root {
    font-size: 2vw;
    background: hotpink;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 1em;
    padding: 2em;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  footer {
    margin: 1em;
    padding: 2em;
  }
  
  .container {
    margin: 1em;
    padding: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    background-image: url(https://images.unsplash.com/photo-1562892642-68f64ed5466d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-color: red;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
  }
  
  .right {
    font-size: 0.6rem;
    background: whitesmoke;
    margin: 1em;
    padding: 2em;
  }
  