body {
    background: black;
    color: white;
}

main {
    background: rgba(rgb(41, 27, 27));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
}

img {
    width: 100%;
}

.jumbotron {
    padding: 2em;
}
p{
    font-size: 2rem;
}

h1 {
    font-size: 10rem;
}