body {
    background: lightcoral;
    margin: 2em;
  }
  
  header {
    margin: 2em;
    padding: 5vh;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .card {
    background-color: lightblue;
    min-height: 58vh;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    border: 2px dotted black;
  }
  
  .grid-1 {
    background-image: url("https://images.unsplash.com/photo-1514575619841-1a3d949d3277?ixlib=rb-1.2.1&auto=format&fit=crop&w=1782&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20%;
  }
  
  .grid-2 {
    background-image: url("https://images.unsplash.com/photo-1513909894411-7d7e04c28ecd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 30%;
  }
  .grid-3 {
    background-image: url("https://images.unsplash.com/photo-1541661538396-53ba2d051eed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 40%;
  }
  .grid-4 {
    background-image: url("https://images.unsplash.com/photo-1484136199491-6603c473c88b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80https://images.unsplash.com/photo-1542121917-f75df954c8c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1824&q=80https://images.unsplash.com/photo-1514575619841-1a3d949d3277?ixlib=rb-1.2.1&auto=format&fit=crop&w=1782&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 50%;
  }
  
  .grid-5 {
    background-image: url("https://images.unsplash.com/photo-1484136199491-6603c473c88b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80https://images.unsplash.com/photo-1542121917-f75df954c8c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1824&q=80https://images.unsplash.com/photo-1514575619841-1a3d949d3277?ixlib=rb-1.2.1&auto=format&fit=crop&w=1782&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 60%;
  }
  