body {
    background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);
    margin: 0;
    padding: 2em;
}

img {
    width: 100%;
}


.jumbotron {
    background: white;
    padding: 1em;
}

h1 {
    font-size: 11rem;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

article {
    background: white;
    margin: 2em;
    padding: 2em;
}

section {
    background: white;
    margin: 2em;
    padding: 2em;
    height: 20%;
}

section h2 {
    width: 20%;
}

@media only screen and (min-width: 600px) { 
    article {background: red;}

}