body {
    background: linear-gradient(purple, pink, gray);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2em;
    padding: 3em;
}


h1 {
    font-size: 15rem;
    mix-blend-mode: difference;
}