body {
    background: linear-gradient(red, whitesmoke);
    background-repeat: no-repeat;

}

h1 {
    font-size: 66rem;
}

div {
    animation-name: iso;
    animation-duration: 45s;
}

@keyframes iso {
    0% {background: linear-gradient(white, pink)}
    50% {transform: rotate(25deg);}
    100% {background: linear-gradient(pink, white)}
    100% {transform: scale(3);}
   
}