body {
    font-family: Helvetica, sans-serif;
    background: #111315;
  color: #AEAEAE;
    
   
}


.jumbotron {
    background: #111315;

}

canvas { display: block; }




h1 {
    font-size: 13rem;
    font-weight: bolder;
    text-shadow: rgba(0,0,0,.1);
   
}

section {
    margin: 3em;
}

main {
    margin-top: 7em;
    margin-bottom: 13em;
    padding-top: 6em;
    
   
   
}

footer {
    margin: 4em;
}

