body {
    font-size: 2vw;
    background: linear-gradient(15deg, whitesmoke 20%, lightblue 80%);
    background-repeat: no-repeat;
    border: 11px solid red;
}

header {
    margin: 2em;
    padding: 3rem;
}

h1 {
    font-size: 6rem;
}

main {
    display: flex;
    justify-content: space-around;
}

div {
    padding: 1em;
}