body {
    padding: 2em;
    background: radial-gradient(red, pink);
    background-repeat: no-repeat;
    font-size: 3vw;
    
   
}

header {
   
    border: yellowgreen 55px 55px 55px;
}

h1 {
    font-size: 10rem;
    box-shadow: whitesmoke 20px 20px 20px 100px;
    padding: 2em;
    animation-name: bg;
    animation-duration: 5s;
    
}

img {
    width: 100%;
 
}



@keyframes bg {
    0% {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    20% {font-family: Georgia, 'Times New Roman', Times, serif;}
    50% {font-family: Arial, Helvetica, sans-serif;}
    50% {transform: scale(3);}
    70% {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    100% {font-family: monospace;}
}