:root {
    background-color: ghostwhite;
  }
  
  body {
    margin: 2em;
    padding: 1em;
  }
  
  img {
    width: 100%;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-gap: 20px;
    text-align: justify;
    border: 1px solid black;
    padding: 1em;
  }
  
  p {
    background: black;
    color: whitesmoke;
    padding: 1em;
    box-shadow: 9px 9px 3px red;
  }
  
  p:hover {
    background: white;
    color: red;
    padding: 1em;
    box-shadow: none;
    transition: 4s;
  }
  