.css-selector {
  font-family: 'Lato', serif;
}

h1 {
  font-family: 'Lato', serif;
  font-size: 150px;
}


body {
  font-family: 'Lato', serif;
  font-size: 80px;
}

.jumbotron {


	height: 100vh;
	background-image: url(./1.png);

}
