:root {
    background: gainsboro;
  }
  
  body {
    margin: 2em;
    padding: 2em;
  }
  
  h1 {
    font-size: 12rem;
  }
  
  main {
    margin: 2em;
    padding: 2em;
  }
  
  img {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
    clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
  }
  