body {
    background: black;
    color: pink;
    font-size: 2vw;
    padding: 2em;
}

.future {
    animation-name: future;
    animation-duration: 33s;
}


    @keyframes future {
        0% {background: white; color: pink;}
        25% {background: black; color: pink;}
        50% {background: white; color: black;}
        75% {background: black; color: pink;}
        100% {background: white; color: black; transform: rotate(360deg);}
}