body {
   
padding: 3em;
    font-family: Helvetica;
    background: pink;
    animation-name: change;
    animation-duration: 10s;

}

header {
    margin-bottom: 5em;
}



h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 75%;
    font-stretch: ultra-expanded;
}



p {
    font-size: 3rem;
    font-weight: 100;
    line-height: 75%;
    padding-bottom: 3em;
    margin: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


@media all and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-gap: 3em;
    }

    h1 {
        font-size: 10rem;
    }
}


.intru {
    color: chartreuse;
    animation-name: intru;
    animation-duration: 10s;
}

@keyframes intru {
    50% {transform: rotate(50deg);}
    75% {transform: scale(5);}
}

@keyframes change {
    50% {background-color: black;}
    75% {transform: rotate(60deg);}
}