:root {
    font-size: 2vw;
  }
  
  body {
    background: linear-gradient(15deg, pink 30%, whitesmoke 70%, blue 10%);
    background-repeat: no-repeat;
    margin: 3em;
    padding: 1em;
    max-width: 100%;
  }
  
  header {
    margin: 2em;
    padding: 3em;
    background: whitesmoke;
    text-align: center;
  }
  
  main {
    margin: 5em;
    padding: 3em;
    transform: rotate(45deg);
    max-width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    mix-blend-mode: overlay;
    background: white;
  }
  
  nav {
    color: whitesmoke;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  nav li {
    padding: 1em;
  }
  
  p {
    font-size: 0.4rem;
  }
  