@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Montserrat:300,700i");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  font-size: 75px;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 0;
}

p {
  font-weight: 600;
}

a {
  color: inherit;
}
.container {
  width: 70%;
  margin: 0 auto;
}

section {
  padding: 250px 0;
}

.start {
  background: #eee;
}

.who {
  background-color: #dca42c;
}

.what {
  background-color: #c0c9ea;
}

.why {
  background-color: #dc3632;
}

.end {
  background-image: url(https://source.unsplash.com/user/erondu/1600x900);
  color: whitesmoke;
}

.button {
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 5%;
  }
  
  .button:hover {
    background-color: grey;
  }