:root {
    font-weight: 100;
    font-size: 2vw;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  #logo {
    font-size: 2rem;
    margin: 1em;
  }
  
  nav {
    position: absolute;
    right: 5%;
    top: 2%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    padding: 1em;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  footer {
    margin: 1em;
    padding: 2em;
  }
  