:root {
    font-size: 2vw;
    background: goldenrod;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  header {
    margin: 2em;
    padding: 2em;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-gap: 30px;
    margin: 2em;
    padding: 50px;
  }
  
  footer {
    margin: 2em;
    padding: 2em;
    font-size: 3rem;
  }
  
  p {
    font-size: 1.1rem;
  }
  