body {
    font-size: 2vw;
    background: linear-gradient(gray, pink, whitesmoke);
}

.jumbotron {
    background: transparent;
}

main {
    padding: 3em;
}


img {
    width: 100%;
    height: 100%;
}