:root {
    font-size: 18px;
  }
  
  body {
    margin: 0;
    --color-bg: #dc6e25;
    --color-text: #faf4f4;
    --color-link: rgb(231, 21, 21);
    --color-link-hover: #f36c13;
  }
  
  header {
    background: var(--color-bg);
    color: var(--color-text);
    margin: 1em;
    padding: 2em;
  }
  
  a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
  }
  
  a:hover,
  a:focus {
    color: var(--color-link-hover);
    outline: none;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px;
  }
  
  h1 {
    font-size: 8rem;
    font-weight: 100;
  }
  
  h2 {
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  
  footer {
    margin: 1em;
    padding: 1em;
  }
  
  #logo {
    font-size: 3rem;
    font-weight: bold;
  }
  
  nav {
    background: lightgrey;
    color: black;
    width: 600px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  section div {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    overflow: scroll;
  }
  