body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(rgb(98, 199, 245), rgb(146, 210, 237), rgb(183, 221, 229), rgb(215, 232, 221), rgb(244, 243, 212));
  color: #AEAEAE;
}


.jumbotron {
    background: transparent;
   
    margin-top: 3em;
    padding-top: 5em;

}

canvas { display: block; }



h1 {
  
    font-weight: bolder;
    text-shadow: rgba(0,0,0,.9);
   
}

section {
    margin: 3em;
}

main {
    margin-top: 7em;
    margin-bottom: 13em;
    padding-top: 6em;
    
}

footer {
    margin: 4em;
}

a {
    color: #8B959E;
}

a:hover {
    color: #F3F3F3;
}

img {
    filter: grayscale(2);
}

img:hover {
    filter: grayscale(0);
}