body {
    background-image: url(https://images.unsplash.com/photo-1506712465535-e301badbc49d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    
  }
  
  header {
    display: flex;
    height: 90vh;
    padding: 10vh;
    background-color: rgba(0,0,255,0.5);
    
  }
  
  
  main {
    padding: 300px;
  }
  
  article {
      background-color: rgba(0,0,255,0.5);
      padding: 80px;
      margin: auto;
  }
  
  h1 {
    color: white;
    background-color: black;
    font-size: 11em;
    padding: 20px;
    
   
  }
  p {
    color: white;
   
  }
  
  
  #border {
  	border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
  }