body {
    background-color: aquamarine;
  }
  
  h1 {
    font-size: 12rem;
    color: red;
    text-shadow: 3px 5px black;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 3em;
  }
  