@import url("https://fonts.googleapis.com/css?family=Boogaloo");

body {
  background: orangered;
  background-image: url("./circus1.jpg");
  color: whitesmoke;
  padding: 100px;
}

header {
  display: grid;
  grid-template-columns: 60% 1fr;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-family: "Boogaloo", cursive;
}

p {
  font-size: 4rem;
  font-family: "Boogaloo", cursive;
}

.one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  padding-top: 100px;
}

.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  box-shadow: 15px 10px black;
  border: 1px solid;
  padding: 10px;
}
