body {
    background: linear-gradient(rgb(247, 189, 145), rgb(217, 172, 170), rgb(183, 156, 194), rgb(140, 141, 217), rgb(70, 127, 240));
font-family: Helvetica;

}


.force {
    color: rgb(215, 250, 250);
}