html {
	
	background: linear-gradient(rgb(252, 207, 197), rgb(211, 199, 186), rgb(168, 191, 176), rgb(121, 182, 165), rgb(58, 172, 155));
	background-size: cover;
}



body {
	margin: 0;
	padding: 0;
	background-color: transparent;
	
}


h1 {
	font-size: 18rem;
	font-weight: bolder;
}

