body {
    background-color: aqua;
    padding: 5em;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
  }
  
  img {
    width: 50%;
  
    top: 50px;
    left: 160px;
  }
  
  h1 {
    font-size: 22rem;
    position: absolute;
    top: 30px;
  }
  