body {
font-family: Helvetica;
background-image: url(https://images.unsplash.com/photo-1620414713241-eab57beffbd7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
padding: 2em;
}

h1 {
    font-size: 15rem;
    font-weight: bolder;
    color: red;
    mix-blend-mode: difference;
    text-shadow: 3px 3px 30px red;
}