body {
    margin: 2em;
}

header {
    padding-bottom: 5em;
    padding: 2em;
    margin: 3em;
}

main {
    margin-top: 5em;
    margin: 2em;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 3em;
}

img {
    width: 30%;
    height: auto;
}