:root {
    background-color: ghostwhite;
  }
  
  body {
    margin: 3em;
    padding: 10px;
  }
  
  img {
    width: 100%;
  }
  
  #navbar {
    background-color: lavenderblush;
    min-height: 50px;
  }
  
  #navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  
    list-style-type: none;
  }
  