@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700&display=swap");

:root {
  background-color: aqua;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 9rem;
  font-family: "Quattrocento", serif;
  font-weight: 400;
}

img {
  width: 100%;
}

header {
  margin: 2em;
}

#logo {
  font-size: 4rem;
}

#navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav {
  width: 300px;
  background: black;
  color: wheat;
}

#navbar {
  right: 10px;

  width: 300px;
  position: absolute;
  top: 5px;
}

main {
  padding: 50px;
}

footer {
  margin: 2em;
  padding: 50px;
}
