@import url("https://fonts.googleapis.com/css?family=Exo:500,700");

body {
  font-size: 1em;
  background-color: floralwhite;
  font-family: Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}

h1 {
  font-family: "Exo", sans-serif;
  font-size: 8rem;
}

main {
  display: flex;

  align-items: flex-start;
}
