body {
    background: linear-gradient(red, purple);

}

h1  {
    font-size: 33rem;
}

.well {
    animation-name: billy;
    animation-duration: 22s;
}

@keyframes billy {
    0% {color: aqua;}
    20% {color: red;}
    40% {color: blue;}
    40% {transform: scale(2);}
    100% {color: yellowgreen;}
    100% {color: lavenderblush;}
    
}