:root {
    font-size: 19px;
  }
  body {
    background: peachpuff;
  }
  
  h1 {
    font-size: 6rem;
    padding: 1em;
  }
  
  header {
    margin: 1em;
    padding: 2em;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  footer {
    margin: 1em;
    padding: 2em;
  }
  
  button {
    background: transparent;
    padding: 1em;
    font-size: 1.8rem;
    border: 1px solid black;
  }
  
  button:focus {
    border: 5px solid red;
  }
  