body {
    background: linear-gradient(whitesmoke, yellow);
    background-repeat: no-repeat;
    color: red;
   }

h1 {
    font-size: 66rem;
}

div .well {
    animation-name: iso;
    animation-duration: 45s;
    }

@keyframes iso {
    0% {background: linear-gradient(white, blue)}
    50% {transform: rotate(360deg);}
    100% {background: radial-gradient(blue, white)}
    100% {transform: scale(10);}
    100% {opacity: .01;}
   
}