body {
    background: #7cf8fa;
    color: #7e90a7;
}

header {
    margin: 4em;
    padding: 5em;
    
}

main {
    margin: 2em;
    padding: 2em;
}



.navbar-brand {
font-weight: bold;
color: #e0ded8;

}

img {
    box-shadow: 9px 9px 3px #e0ded8;
}

footer {
    margin: 2em;
    padding: 2em;
}