body {
    background-color: black;
    color: blue;
    overflow: hidden;
}

h1 {
    font-size: 11rem;
}

.container {
    background: red;
    z-index: -99;
}


.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    animation-name: circle-full;
    animation-duration: 10s;
    mix-blend-mode: overlay;
    z-index: 3;
}


@keyframes circle-full {
    80% {transform: scale(50);}
}