body {
    background: beige;
  }
  
  h1 {
    font-size: 6rem;
    font-family: "Crimson Text", serif;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  h1::before,
  h1::after {
    content: "";
    background: red;
    height: 0.1em;
    margin: 0.2em;
    flex: 1;
  }
  
  p {
    font-size: 0.9rem;
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  p::before,
  p::after {
    content: "";
    background: red;
    height: 0.1em;
    margin: 0.2em;
    flex: 1;
  }
  
section {
  height: 100vh;
  background-color: azure;
}

.row {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: cornsilk;
}

img {
  height: 100%;
  width: 100%;
}

.test {
  width: 150px;
  background-image: url('./pige.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 20px;
  background-color: blue;
}

.due {
  background-blend-mode: multiply;
}

.tre {
  background-blend-mode: exclusion;
}

.quattro {
  background-blend-mode: lighten;
}

.cinque {
  background-blend-mode: luminosity;
}

.sei {
  background-blend-mode: saturation;
}