body {
    background: fuchsia;
    color: black;
}

H1 {
    font-size: 43rem;
    font-weight: bolder;

    text-shadow: yellowgreen 15px 15px 62px;
}

.well {
    animation-name: animal;
    animation-duration: 35s;
    padding: 3em;
}

@keyframes animal {
    0% {background-image: url(https://images.unsplash.com/photo-1578601163666-47c726ce64fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1901&q=80);}
    50% {background: yellow;}
    50% {color: yellow;}
    50% {background-image: url(https://images.unsplash.com/photo-1556988790-69f54648859b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80);}
    
    100% {background: red;}
}