:root {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    font-size: 2vw;
  }
  
  body {
    background: silver;
  }
  
  header {
    padding: 2em;
  }
  
  h1 {
    font-size: 7rem;
    font-weight: 900;
    line-height: 1;
    color: blue;
    margin: 0;
  }
  
  h2 {
    font-size: 4rem;
    color: red;
  }
  
  p {
    font-size: 1.3rem;
  }
  
  .rec {
    width: 300px;
    height: 3100px;
    background: linear-gradient(whitesmoke, red);
    position: absolute;
    right: 30%;
    z-index: -99;
    box-shadow: 4px 17px 92px red;
  }
  
  .mount {
    background-image: url("/dist/2019/sep/27/479.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 1650px;
    height: 1100px;
  }
  
  img {
    width: 100%;
  }
  
  main {
    padding: 2em;
  }
  