body {
    background: linear-gradient(purple 20%, gray);
    margin: 1em;
}

h1 {
    font-size: 11vw;
}

p {
    font-size: 1vw;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    background: lightblue;
    padding: 2em;
}

figure img {
    width: 100%;
}