body {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 5em;
    padding-bottom: 5em;
 
    margin: 2em;
    padding: 1em;
    background: linen;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

main {
    margin-top: 5em;
    padding-top: 5em;
    margin: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 3em;
   
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.line {
    width: 150px;
    height: 6px;
    background: black;
}

.one {
    width: 600px;
    margin-bottom: 2em;
   
}

.two {
    width: 500px;
    margin-bottom: 2em;
   
}

.three {
    width: 400px;
    margin-bottom: 2em;
   
}

.four {
    width: 300px;
    margin-bottom: 2em;
   
}

@media screen and (max-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
    }

    h1 {
        font-size: 3rem;
    }
}