body {
    background: linear-gradient(blue, rgb(114, 155, 245), blue);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5em;
    padding: 5em;
    animation-name: tiny;
    animation-duration: 10s;
}

header {
    background: red, purple;
}

main {
    background: black;
    color: white;
    padding: 5em;
}


.day {
    font-size: 15rem;
    mix-blend-mode: difference;
    text-shadow: 10px 10px 10px white;
    line-height: 50%;
    animation-name: tit;
    animation-duration: 10s;
}

.night {
    font-size: 25rem;
    mix-blend-mode: difference;
    text-shadow: 10px 10px 10px white;
    line-height: 50%;
    animation-name: night;
    animation-duration: 10s;
}

.rosi {
    font-size: 15rem;
    mix-blend-mode: difference;
    text-shadow: 10px 10px 10px white;
    line-height: 50%;
    animation-name: rosi;
    animation-duration: 10s;
}


@keyframes tit {
    50% {transform: scale(5);} 
    60% {color: blue;}   
}

@keyframes night {
    50% {transform: rotate(900deg);} 
    60% {color: red;}   
}

@keyframes rosi {
    50% {transform: rotate(200deg);}    
    60% {color: yellowgreen;}
    90% {transform: scale(10);}
}

@keyframes tiny {
    50% {background-color: red;}
}