body {
    background-color: red;
    color: blue;
    overflow: hidden;
}

h1 {
    font-size: 11rem;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    animation-name: circle-full;
    animation-duration: 10s;
    mix-blend-mode: overlay;
    z-index: 3;
}


.contenitore {
    background: rgb(20, 169, 196);
    z-index: -3;
    mix-blend-mode: difference;
    padding: 2em;
    border-radius: 50%;
}




@keyframes circle-full {
    80% {transform: scale(50);}
}