body {
    background-color: rgb(0, 255, 242);
    color: blue;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1611315536343-eb14ccdc1246?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    background-attachment: fixed;
  background-position: center;
}

h1 {
    font-size: 6rem;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    animation-name: circle-full;
    animation-duration: 3s;
    mix-blend-mode: overlay;
   
}


.contenitore {
    background: rgb(73, 20, 196);
    z-index: -3;
    mix-blend-mode: difference;
    padding: 1em;
    border-radius: 50%;
}

.day {
    color: purple;
    animation-name: daymove;
    animation-duration: 3s;
}

.night {
    color: white;
    animation-name: daymove;
    animation-duration: 6s;
}




@keyframes circle-full {
    50% {transform: scale(50);}
    80% {background-color: black;}
}

@keyframes daymove {
    50% {transform: scale(50);}
    80% {background-color: black;}
}