:root {
    background: lavender;
  }
  
  body {
    background: peachpuff;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  header {
    margin: 3em;
    padding: 2em;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  main {
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  