:root {
    font-size: 2vw;
  }
  
  body {
    background: linear-gradient(
      to left,
      #2ac8b8 10%,
      whitesmoke 10%,
      #2ac8b8 15%,
      blue 10%,
      red 10%,
      yellow
    );
  }
  
  header {
    margin: 1em;
    padding: 3em;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  .card-body {
    background-image: linear-gradient(orange, red);
    background-size: 100%;
    background-position: left;
    transition: background-position 1s;
  }
  
  .card-body:hover,
  .card-body:focus {
    background-position: right;
  }
  