
/* basic styles for black background and crosshair cursor */
body {
	background: rgb(158, 228, 28);
	margin: 2em;
	padding: 1em;
}




.head {
	display: grid;
	grid-template-columns: 1fr 30%;

	
}

canvas {
	cursor: crosshair;
	display: block;
}

h1 {
    color: rgb(73, 69, 64);
    font-size: 9rem;
}


#canvas {
	position: absolute;
	top: 1em;
}

img {
	mix-blend-mode: overlay;
}