body {
    background: #272930;
    color: royalblue;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    border: 1px red solid;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    border: 1px red solid;
    list-style-type: none;
  }
  
  .logo__class {
    padding: 1em;
  }
  
  
  
  .menu li {
    padding: 1em;
  }
  
  .logo {
    font-size: 3rem;
    margin: 0;
  }
  
  header {
    text-align: center;
    border: 1px red solid;
  }
  
  header h1 {
    font-size: 7rem;
  }
  