body {
    background: pink;
}

h1 {
    font-size: 8rem;
    color: whitesmoke;
    font-weight: 900;
    
}

h2 {
    font-size: 4rem;
    color: whitesmoke;
    font-weight: 600;
    
}

p {
    font-size: 1.2rem;
}


main {
    padding: 2em;
    background: linear-gradient(15deg, whitesmoke 15%, transparent 75%);
}

section {
    margin: 1em;
    padding: 2em;
    border: 5px solid whitesmoke;
}