body {
    background: lightcyan;
    margin: 2em;
    padding: 2em;
    font-size: 2vw;
}

h1 {
    font-size: 8em;
}

.parent {
    
    margin: 0;
    padding: 1em;
    background-image: url(https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding: 1em;
    background: lavenderblush;
}

.the {
    animation-name: colors;
    animation-duration: 7s;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


@keyframes colors {
    50% { background-image: url(https://images.unsplash.com/photo-1588951095663-2f5fbc187720?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    }
    75% {color: pink;}
}