:root {
    background-color: red;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 2em;
    padding: 50px;
  }
  
  main {
    margin: 2em;
    padding: 50px;
  }
  
  img {
    width: 100%;
  }
  
  footer p {
    font-size: 3rem;
  }
  
  footer {
    margin: 1em;
    padding: 30px;
  }
  