@import url("https://fonts.googleapis.com/css?family=Poppins:500,900");


* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

main {
    top: 100px;
    position: relative;
}

#header-img {
    position: relative;
    left: 200px;
}

#nav-bar {
    position: relative;
    right: 200px;
}

#nav-bar li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;
}

.s1 {
    width: 100%;
    height: 250px;
    background-color: cornsilk;
}

.wrapper1 {
    position: relative;
    padding: 50px 50px;
}

.s2 {
    width: 100%;
    height: 200px;
    background-color: darkseagreen;
}

.s3 {
    width: 100%;
    height: 300px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
}

.col-1 {
    background-color: aqua;
}

.col-2 {
    background-color: aquamarine;
}

.col-3 {
    background-color: cyan;
}


.dino {
    display: flex;
    height: 100vh;
    background-image: url(https://source.unsplash.com/user/erondu/1600x900);
  }


.dinomain {
    padding: 250px;
    font-family: "Poppins", sans-serif;
}

p::first-letter {
    color: goldenrod;
    font-weight: bold;
    margin-right: 0.2em;
    font-size: 5em;
  
    -webkit-initial-letter: 4;
    initial-letter: 4;
  }

  .dino_h1 {
    margin: auto;
    font-size: 5em;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
  }