body {
    font-size: 2vw;
    background-image: url(https://images.unsplash.com/photo-1582691278877-e46a920db6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1864&q=80);
background-size: cover;
background-repeat: no-repeat;
padding: 2em;
color: lavender, red;
animation-name: blade;
animation-duration: 22s;
overflow: hidden;

}

h1 {
    color: whitesmoke;
    font-size: 22rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

figure img {
    box-shadow: 100px 100px 100px red;
    border: 100px black;
    opacity: .5;
}


@keyframes blade {
    25% {
    transform: scale(1);
    }
    50% {background-image: url(https://images.unsplash.com/photo-1529160749550-7bae16dc4d7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);}
75% {transform: rotate(150deg);}
}


.ex {
    background: linear-gradient(whitesmoke, red);
    width: 1000px;
    height: 9500px;
    transform: rotate(30deg);
    opacity: .5;
}

button {
    background: black;
    color: orangered;
    width: 500px;
    height: 300px;
    font-size: 12rem;
    overflow: hidden;
}