body {
    background: #f3e9a0;
    color: #33dbf2;
}

header {
    margin: 4em;
    padding: 4em;
    
}

main {
    margin: 2em;
    padding: 2em;
}

.navbar-dark {
    background: #33dbf2;
}

.navbar-brand {
font-weight: bold;
color: #dbebed;

}

img {
    box-shadow: 9px 9px 3px #dbebed;
}

footer {
    margin: 2em;
    padding: 2em;
}