html {
    background-color: powderblue;
    font-size: 65%;
  }
  
  body {
    background-color: palegoldenrod;
    margin: 5em;
    padding: 5em;
  }
  
  h1 {
    color: plum;
    font-size: 13rem;
  }
  
  #united {
    background-color: palegreen;
    margin: 2em;
    padding: 4em;
  }
  
  #global {
    background-color: thistle;
    margin: 2em;
    padding: 4em;
  }
  
  #colors {
    background-color: gold;
    margin: 2em;
    padding: 4em;
  }
  