:root {
    background: radial-gradient(green, lightgray);
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 1em;
    padding: 2em;
}

main {
    margin: 1em;
    padding: 2em;
}

footer {
    margin: 1em;
    padding: 2em;
}

h1 {
    font-size: 6rem;
    color: burlywood;
}

p {
    font-size: .5rem;
}

.logo {
    position: absolute;
    left: 5%;
    top: 0.3em;
    font-size: 3rem;
    color: crimson;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}