body {
    background-color: palevioletred;
  }
  
  header {
    background-color: palegreen;
    border-radius: 20%;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 20px;
    padding: 20px;
  }
  
  h1 {
    font-size: 7rem;
    color: palevioletred;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  img:hover {
    filter: brightness(50%);
  }
  