body  {
    background-image: url(/2020/apr/18/657.jpg);
    background-size: cover;
    padding: 2em;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 12rem;
    color: transparent;
    text-shadow: bisque 5px 5px 5px;
}

article {
    background: transparent;
    box-shadow: bisque 5px 5px 15px;
    color: white;
    padding: 2em;
}