html {
    background: blue;
    animation-name: blue;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

body {
    background: linear-gradient(#b6b1d6, #bbdfe3, #fbf6c9, #fcd3c7);
    margin: 4em;
    padding: 2em;
    
    box-shadow: 55px 30px 20px black;
}

h1  {
    font-size: 8rem;
    color: red;
    text-decoration: underline blue;
}
header {
    margin-top: 5em;
    margin-bottom: 6em;
    transform: skew(20deg, 5deg);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
   
}
img {
    width: 100%;
}

@keyframes blue {
    10% {background: linear-gradient(red, blue, pink);}
    30% {background: linear-gradient(pink, red, blue, orange);}
    60% {background: linear-gradient(white, blue, pink);}
    80% {background: linear-gradient(orange, white, red);}
    100% {background: linear-gradient(purple, blue, pink);}
}