body {
    margin: 2em;
    padding: 2em;
    background: blue;
    color: white;
    mix-blend-mode: screen;
   
}

h1 {
    font-size: 6rem;
    color: cyan;
}

.line {
   
    background: white;
}

.one {
    width: 300px;
    height: 3px;
    animation-duration: 15s;
    animation-name: one;
    }

.two {
    width: 400px;
    height: 3px;
    animation-duration: 15s;
}

.three {
    width: 500px;
    height: 3px;
    animation-duration: 15s;
}


.dot {
    animation-duration: 15s;
    animation-name: dot;
    font-size: 6rem;
}

.red {
    animation-duration: 15s;
    animation-name: red;
    font-size: 6rem;
    position: absolute;
    right: 3em;
}


@keyframes one {
    50% {width: 400px;}
}


@keyframes dot {
    50% {font-size: 600px; color: red;}
}

@keyframes red {
    50% {font-size: 400px; color: red;}
}
