body {
    background-color: palegoldenrod;
    padding: 10vw;
  }
  
  .intro {
    background-color: black;
    color: palegoldenrod;
    opacity: 0;
    width: 0%;
    transition: 3s;
  }
  
  .intro.show {
    opacity: 1;
    width: 100%;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  h2 {
    font-size: 5rem;
  }
  
  .importante {
    background-color: black;
    color: palegoldenrod;
    opacity: 0;
    width: 0%;
    transition: 3s;
  }
  
  .importante.show {
    opacity: 1;
    width: 100%;
  }
  
  .molto {
    background-color: black;
    color: palegoldenrod;
    opacity: 0;
    width: 0%;
    transition: 3s;
  }
  
  .molto.fade-in {
    opacity: 1;
    width: 100%;
  }
  
  .avanti {
    background-color: black;
    color: palegoldenrod;
    opacity: 0;
    width: 0%;
    transition: 3s;
  }
  
  .avanti.fade-in {
    opacity: 1;
    width: 100%;
  }
  
  .panel {
    height: 100%;
    width: 100%;
  }
  .panel.green {
    margin-bottom: 400px;
  }
  
  .panel.blue {
    margin-bottom: 400px;
  }
  
  .panel.turqoise {
    margin-bottom: 400px;
  }
  
  .panel.bordeaux {
    margin-bottom: 400px;
  }
  
  
 .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}