body {
    margin: 0;
    background: orange;
  }
  
  header {
    background-color: indigo;
    padding: 5em;
  }
  
  header.crossRotate:active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
 
  
  h1 {
    color: whitesmoke;
    font-size: 5rem;
  }
  
  p {
    color: whitesmoke;
  }
  