body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    
    margin: 2em;
    background: repeating-linear-gradient(pink, gray, red);
    animation-name: colori;
    animation-duration: 15s;
   

}

h1 {
    font-size: 17rem;
    
}

main {
    background: repeating-linear-gradient(gray, silver, pink);
    padding: 2em;
    box-shadow: pink 20px 10px 10px;
    background: rgb(13, 109, 153);
}

main:hover {
    background: blue;
color: pink;

}


.parent {
    background-image: url(https://images.unsplash.com/photo-1590268879537-b58bbb6d2566?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    -webkit-background-clip: text;
    background-clip: text;
   
    -webkit-text-fill-color: transparent;
    animation-duration: 15s;
    animation-name: maria;
}


@keyframes colori {

    25% {background: repeating-linear-gradient(pink, red, gray);}
    50% {background: repeating-linear-gradient(gray, silver, pink);}
}

@keyframes maria {
    50% {transform: scale(2);}
}
