body {
    background: #222222;
    margin: 0;
    color: ivory;
  }
  
  header {
    display: flex;
    justify-content: center;
    padding: 10vh;
  }
  
  .one {
    color: indianred;
  }
  
  h1 {
    color: ivory;
    font-size: 9rem;
    filter: blur(5px);
  }
  
  h1:hover,
  h2:hover,
  p:hover {
    filter: blur(0px);
  }
  
  h2 {
    font-size: 4rem;
    filter: blur(5px);
  }
  
  p {
    font-size: 2rem;
    filter: blur(5px);
  }
  
  main {
    padding: 9vh 9vw;
    background: indianred;
    transform: skew(15deg);
  }
  


  div#line1 span#a {
    display: inline;
  }
  div#line1:hover span#a {
    display: none;
  }
  div#line1 span#b {
    display: none;
  }
  div#line1:hover span#b {
    display: inline;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 5vh 5vw;
  }
  