* {
	margin: 0;
	padding: 0;
}

.hero {
	width: 100%;
	height: 100vh;
	background: url(/2018/img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: white;
	display: grid;
	grid-template-columns: 15% 2fr 2fr;
	grid-template-rows: 50% 50%;
	grid-template-areas: "nav cont cont"
						 "nav bx bx1"
}

.nav {
	background: rgb(0,139,135);
	background: linear-gradient(90deg, rgba(0,139,135,1) 0%, rgba(0,56,237,1) 82%, rgba(0,18,255,1) 100%);
	grid-area: nav;
}

.content {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	grid-area: cont;
}

.box {
	background-color: white;
	grid-area: bx;
	text-align: center;
}

.box1 {
	background-color: black;
	grid-area: bx1
	-webkit-clip-path: polygon(90% 11%, 60% 75%, 74% 70%, 41% 96%, 37% 55%, 46% 70%, 68% 3%);
	clip-path: polygon(90% 11%, 60% 75%, 74% 70%, 41% 96%, 37% 55%, 46% 70%, 68% 3%);
}

.content p {
	text-align: center;
	font-family: serif;
	font-style: 20px;
	padding: 35px 35px;
}

.footer {
	width: 100%;
	height: 75px;
	background-color: brown;
}

.footer p {
	color: white;
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}

.box h3 {
	padding-top: 15%;
	font-family: serif;
	font-size: 70px;
}
