body {
    background-color: blueviolet;
    margin: 30px;
    max-width: 100%;
  }
  
  h1 {
    
    background-color: white;
  
    margin-bottom: 0px;
    font-size: 12rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h2 {
    font-size: 6rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h3 {
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .legend {
    width: 600px;
    height: 300px;
    background-color: black;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }
  
  .one {
    margin: 0;
    padding: 0;
  }
  