@import url("https://fonts.googleapis.com/css?family=Spectral:400,700&display=swap");

#hero {
  text-align: center;
}

#hero h1 {
  font-size: 10vw;
  font-family: "Spectral", serif;
  font-weight: 700;
}

@media;
