:root {
    background: lightblue;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url(https://images.unsplash.com/photo-1563789863508-c599eb836dd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
  }
  
  h1 {
    margin: 1em;
    padding: 0.5em;
    font-size: 7rem;
    color: lightcyan;
  }
  
  img {
    width: 100%;
  }
  
  .card-container {
    margin-left: 3em;
    margin-right: 3em;
  
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    width: 900px;
    height: 300px;
    text-align: center;
    font-size: 2rem;
    padding: 1em;
    margin: 1em;
  
    background-color: lightpink;
  }
  
  main {
    margin: 2em;
    padding: 2em;
  }
  
  footer {
    margin: 2em;
    padding: 2em;
  }
  