body {
    font-size: 2vw;
    background: #cecbf9;
    color: #481ac6;
}

header {
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 11rem;
}

main {
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    margin: 1em;
}

button {
    margin: 1em;
}

img {
    width: 100%;
    height: auto;
}