body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;

}
header {
    background-image: url(snow.png);
    background-color: aquamarine;
    padding: 10em;
}

h1 {
    font-size: 6em;
    font-family: 'Helvetica', sans-serif;
}