body {
    background-color: whitesmoke;
  }
  
  h2 {
    font-size: 5rem;
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    width: 50%;
    height: 50%;
  }
  