:root {
    background: linear-gradient(blue, yellow);
    background-repeat: no-repeat;
  }
  
  header {
    padding: 2em;
  }
  
  h1 {
    font-size: 8rem;
  }
  
  main {
    background: whitesmoke;
  }
  
  .container {
    margin: 4em;
    display: flex;
    justify-content: space-between;
  }
  
  p {
    margin: 2em;
  }
  