:root {
    background: rgb(105, 210, 231);
    background: radial-gradient(
      circle,
      rgba(105, 210, 231, 1) 0%,
      rgba(172, 220, 216, 1) 30%,
      rgba(221, 160, 100, 1) 55%,
      rgba(243, 134, 48, 1) 73%,
      rgba(224, 228, 204, 1) 100%
    );
  }
  
  h1 {
    font-size: 10vw;
  }
  