body {
    font-size: 2vw;
    background: lemonchiffon;
    padding: 2em;
}

h1 {
    font-size: 6rem;
}

.future {
    animation-name: future;
    animation-duration: 15s;
    background: black;
    color: white;
}


@keyframes future {
    0% {background: white; color: black;}
    25% {background: black; color: white;}
    50% {background: white; color: black;}
    75% {background: black; color: white;}
    100% {background: white; color: black; transform: rotate(90deg);}
    






}