html {
    background: blue;
    animation-name: blue;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

body {
    background: linear-gradient(#b6b1d6, #bbdfe3, #fbf6c9, #fcd3c7);
    margin: 4em;
    padding: 2em;
    
    box-shadow: 55px 30px 20px black;
}

h1  {
    font-size: 8rem;
    color: blue;
    text-decoration: underline pink;
}
header {
    margin-top: 5em;
    margin-bottom: 6em;
    
}

main {
    
   animation-name: top;
   animation-duration: 10s;
   animation: top 5s infinite;
}

article {
    background: white;
  padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    transform: skew(-20deg, -5deg);
}

img {
    width: 100%;
}

@keyframes blue {
    10% {background: linear-gradient(red, blue, pink);}
    30% {background: linear-gradient(pink, red, blue, orange);}
    60% {background: linear-gradient(white, blue, pink);}
    80% {background: linear-gradient(orange, white, red);}
    100% {background: linear-gradient(purple, blue, pink);}
}

@keyframes top {
    20% {transform: skew(20deg, 5deg);
        background: pink;}

        80% {transform: skew(-20deg, -5deg);
            background: blue;}
}