@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,600");

body {
  margin: 0;
  padding: 250px;
  font-family: "Cormorant Garamond", serif;
}

header {
  display: flex;
  height: 30vh;
}

main {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    grid-gap: 30px;
    text-align: justify;
    max-width: 900px;
  }
  p {
    margin: 0;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  
.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}
