:root {
    background-color: antiquewhite;
  }
  
  img {
    width: 100%;
  }
  
  #logo {
    font-size: 3rem;
  }
  
  h1 {
    font-size: 11rem;
    font-weight: bold;
  }
  #navbar {
    position: absolute;
    right: 2em;
    top: 1vh;
    background-color: lightskyblue;
    padding: 1em;
    text-align: center;
  }
  
  header {
    padding: 3em;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 2rem;
  }
  
  main {
    padding: 18em;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  img {
    box-shadow: 15px 16px 17px black;
  }
  