
body {
    animation-name: box;
  animation-duration: 20s;
}


.circle {
    width: 600px;
    height: 500px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: yellow;
    position: absolute;
    top: 5em;
    left: 2em;
    mix-blend-mode: difference;
    animation-name: circle;
    animation-duration: 20s;
  }
  
  .circle2 {
    width: 500px;
    height: 500px;
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    background-color: purple;
    position: absolute;
    top: 5em;
    left: 7em;
    mix-blend-mode: difference;
    animation-name: circle2;
    animation-duration: 10s;
  }
  
  .line {
    width: 500px;
    height: 200px;
    
    background-color: blue;
    position: absolute;
    top: 5em;
    left: 7em;
    mix-blend-mode: difference;
    animation-name: line;
    animation-duration: 10s;
  }
  
  @keyframes line {
    50% {transform: rotate(150deg);}
    75% {background: red;}
  }
  
  @keyframes circle {
    50% {left: 50em;}
    75% {background: red;}
  }
  
  @keyframes box {
    50% {transform: skew(-20deg);}
    75% {background: white;}
  }