:root {
    background-color: plum;
  }
  
  body {
    font-size: 14px;
  }
  
  img {
    width: 100%;
  }
  
  header {
    margin: 2em;
    padding: 1em;
    max-width: 900px;
    overflow: hidden;
    border: 1px solid black;
  }
  
  #hero {
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 8rem;
    margin: 1em;
  }
  
  #logo {
    font-size: 3rem;
    font-weight: bold;
  }
  
  #navbar {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  #navbar ul {
    list-style-type: none;
  }
  