body {
    background: radial-gradient(yellow 90%, gray);
    padding: 2em;

}

header {
    overflow: hidden;
}

h1  {
    font-size: 105rem;
    text-shadow: 22px 22px 22px white;
}

.well {
    animation-name: billy;
    animation-duration: 22s;
    animation-fill-mode: backwards;
    
}

@keyframes billy {
    0% {color: aqua;}
    20% {color: red;}
    40% {color: blue;}
    40% {transform: scale(2);}
    80% {transform: scale(3);}
    80% {color: lavenderblush;}
    90% {transform: rotate(60deg);}
    
}

.bubble {
    animation-name: bubble;
    animation-duration: 22s;
    width: 900px;
    height: 900px;
}

@keyframes bubble {
    
    10% {
    opacity: 1;
    }
    100% {
    transform: translateY(96px) scaleY(2);
    opacity: 0.01;
    }
  }