body {
    background: blue;
    padding: 7em;
    margin: 2em;
    font-size: 2vw;
    overflow: hidden;
}

h2 {
    font-size: 22rem;
    animation-name: go;
    animation-duration: 22s;
}

section {
    animation-name: sec;
    animation-duration: 22s;
    background: black;
    color: blue;
   
}

@keyframes sec {
    0% {transform: rotate(50deg);}
    25% {transform: scale(2);}
    50% {background: scroll;}
    75% {background: white; color: white;}
    100% {background: yellow;}
}

@keyframes go {
    0% {transform: rotate(150deg);}
    25% {transform: scale(3);}
    50% {background: scroll;}
    75% {background: white; color: red;}
    100% {background: purple;}
}