body {
    
    background: cyan;
   
   
    animation-name: bg;
    animation-duration: 15s;
}

h1 {
    
    font-size: 15rem;
    padding: 2em;
}

h2 {
    
    font-size: 10rem;
    padding: 2em;
}


p {
    font-size: 7rem;
}

img {
    width: 300%;
}

main {
    overflow: hidden;
    padding: 3em;
    
}

@keyframes bg {
    0% {background: white;}
    50% {background: coral;}
}

.ex {
    background: linear-gradient(whitesmoke, blue);
    width: 1200px;
    height: 900px;
}

.jumbotron {
    padding: 6em;
    background: lightblue;
}