
body {
    background-color: goldenrod;
  }
  
  header {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 10px;
  }
  h1 {
    font-size: 7rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  header img {
    border: 10px solid black;
    padding: 15px;
  }
  
  #opening {
    margin-left: 5em;
  }
  #opening h1 {
    margin: 0;
    padding: 0;
    text-shadow: 0px 10px 10px black;
  }
  
  #opening h2 {
    margin-bottom: 0;
  }
  
  main {
    margin: 5em;
    margin-top: 10em;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-gap: 4em;
  }
  
  article {
    padding: 6em;
    border: 10px solid black;
    padding: 15px;
  }
  
  aside {
    background-color: black;
    color: goldenrod;
    text-align: justify;
    padding: 1em;
  }
  
  article h2 {
    padding: 3em;
    margin-top: 0;
  }
  
  #never_die {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: goldenrod;
  }
  
  #never_die img {
    width: 100%;
  }
  