body {
    background-color: blue;
    color: hotpink;
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 11rem;
}

.line {
    background: hotpink;
    mix-blend-mode: difference;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2em;
    left: 2em;
    animation-name: big;
    animation-duration: 10s;
}

@keyframes big {
    50% {transform: scale(35);}
}