body {
    background: whitesmoke;
    padding: 7em;
    margin: 2em;
    font-size: 2vw;
    overflow: hidden;
}

section {
    animation-name: sec;
    animation-duration: 22s;
    background: black;
    color: pink;
   
}

@keyframes sec {
    0% {transform: rotate(50deg);}
    25% {transform: scale(2);}
    50% {background: scroll;}
    75% {background: white; color: white;}
    100% {background: yellow;}
}