:root {
    background: rgb(105, 210, 231);
    background: radial-gradient(
      circle,
      rgba(105, 210, 231, 1) 0%,
      rgba(172, 220, 216, 1) 41%,
      rgba(221, 160, 100, 1) 57%,
      rgba(243, 134, 48, 1) 73%,
      rgba(224, 228, 204, 1) 100%
    );
  }
  
  h1 {
    font-size: 11rem;
  }
  
  .card {
    background: whitesmoke;
    box-shadow: 5px 3px 9px grey;
    border-radius: 2%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .zoom {
    font-size: 3rem;
    font-weight: 100;
  }
  
  main {
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  p {
    padding: 1em;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  footer {
    margin: 2em;
    padding: 2em;
    font-size: 2em;
  }
  