body {
    background: plum;
    color: #222222;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 12rem;
    text-decoration: overline red;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    display: flex;
  }
  
  logo {
    font-size: 3rem;
  }
  