body {
    padding: 2em;
    background: radial-gradient(gray, silver);
    background-repeat: no-repeat;
}

h1 {
    font-size: 41rem;
}

.well {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}