body {
    background-image: url(https://images.unsplash.com/photo-1578595243311-5d891b82ab03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
background-repeat: no-repeat;
background-size: cover;
padding: 3em;


}

H1 {
    font-size: 13rem;
    font-weight: bolder;

    text-shadow: yellowgreen 15px 15px 62px;
}

.well {
    animation-name: animal;
    animation-duration: 25s;
    padding: 1em;
}

@keyframes animal {
    0% {background: red;}
    50% {background: yellow;}
    50% {color: yellow;}
    100% {background: red;}
}