body {
    background: linear-gradient(pink, whitesmoke);
    font-size: 3vw;
    background-repeat: no-repeat;
    padding: 5em;

}


h1 {
    color: aquamarine;
}

section {
    padding: 2em;
    background: blanchedalmond;
}