:root {
    font-size: 2vw;
  }
  
  body {
    background: goldenrod;
  }
  
  header {
    margin: 2em;
    padding: 1em;
  }
  
  #logo {
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 1em;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
    text-decoration: underline overline wavy blue;
  }
  
  img {
    width: 100%;
  }
  
  main {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-gap: 30px;
    margin: 2em;
    padding: 2em;
  }
  
  #intro {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }
  
  #intro img {
    max-width: 600px;
    margin: 1em;
    padding: 1em;
    clip-path: polygon(0 0, 0% 100%, 100% 48%);
  }
  
  nav {
    position: fixed;
    top: 0;
    right: 1em;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  nav li {
    padding: 1em;
  }
  
  footer {
    margin: 2em;
    padding: 1em;
  }
  