:root {
    background: rgb(105, 210, 231);
    background: linear-gradient(
      90deg,
      rgba(105, 210, 231, 1) 0%,
      rgba(172, 220, 216, 1) 30%,
      rgba(221, 160, 100, 1) 55%,
      rgba(243, 134, 48, 1) 73%,
      rgba(224, 228, 204, 1) 100%
    );
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 2em;
    padding: 3em;
  }
  
  .logo {
    font-size: 2.5rem;
    position: absolute;
    left: 5%;
    font-weight: bold;
  }
  
  nav {
    position: absolute;
    right: 5%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  nav li {
    padding: 1em;
  }
  
  h1 {
    font-size: 7rem;
    color: rgb(105, 210, 231);
    color: linear-gradient(
      90deg,
      rgba(105, 210, 231, 1) 0%,
      rgba(172, 220, 216, 1) 30%,
      rgba(221, 160, 100, 1) 55%,
      rgba(243, 134, 48, 1) 73%,
      rgba(224, 228, 204, 1) 100%
    );
    text-shadow: 4px 4px 7px black;
  }
  
  .hero {
    margin: 2em;
    padding: 1em;
    border: 1px solid #2ac8b8;
    background: #e0e4cc;
  
    text-align: center;
    opacity: 0.5;
  }
  
  .cta {
    text-align: center;
  }
  
  button {
    padding: 1em;
    background: transparent;
    border: 3px solid #2ac8b8;
    font-size: 1.2rem;
  }
  
  img {
    width: 700px;
  }
  
  .hero-img {
    position: absolute;
    z-index: -2;
    opacity: 0.5;
  }
  