:root {
    background-color: wheat;
  }
  
  body {
    margin: 2em;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  h1 {
    font-size: 11rem;
  }
  
  img {
    width: 100%;
  }
  