body {
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
  
  h1 {
    font-size: 12rem;
    opacity: 0.3;
  }
  
  img {
    width: 100%;
    opacity: 0.3;
  }
  