body {
    background: linear-gradient(blue, black);
    color: whitesmoke;
    background-repeat: no-repeat;
    padding: 5em;
}

main {
    margin: 2em;
    padding: 3em;
}

h1 {
    font-size: 33rem;
}


h2 {
    font-size: 13rem;
}

p {
    font-size: 3rem;
}

.footer {
    position: absolute;
    bottom: 2%;
    font-size: 5rem;
}