body {
    font-size: 2vw;
    background: black;
    padding: 2em;
    border: 5px solid red;
    color: white;
}

h1 {
    font-size: 66rem;
    animation-name: font;
    animation-duration: 22s;
}

@keyframes font {
    0% {box-shadow: hotpink 50px 50px 50px;}
    50% {box-shadow: white 50px 50px 50px;}
    80% {box-shadow: yellow 50px 50px 500px; transform: scale(-3);}
    100% {box-shadow: red 50px 50px 5000px;}
}
