body {
    margin: 0;
}


.lead {
    padding: 2em;
}

h1 {
    font-size: 10rem;
    font-weight: bold;
}


.middle {
background: black;
}

.middle-bottom {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}