body {
    background-color: yellow;
  }
  
  h1 {
    font-size: 9rem;
  }
  
  header {
    transform: skew(15deg, 15deg);
  }
  
  main {
    transform: skew(15deg, 15deg);
    padding: 3em;
  }
  
  main img {
    height: 100%;
    width: 100%;
    transform: skew(5deg, 5deg);
  }
  