body {
    padding: 2em;
    background: linear-gradient(whitesmoke, red);
    background-repeat: no-repeat;
}

h1 {
    font-size: 48rem;
    color: white;
}

.happy {
    animation-name: happy;
    animation-duration: 60s;
}

.new {
    animation-name: new;
    animation-duration: 60s;
}
.year {
    animation-name: year;
    animation-duration: 60s;
}

@keyframes happy {
    0% {color: tomato;}
    50% {color: white;}
    100% {color: tomato;}
}

@keyframes new {
    0% {color: white;}
    50% {color: tomato;}
    100% {color: white;}
}

@keyframes year {
    0% {color: tomato;}
    50% {color: white;}
    100% {color: tomato;}
}