body {
    background-color: lightgray;
    margin: 2em;
    padding: 3em;
  }
  
  header {
    background-color: black;
    color: lightgray;
    min-height: 50vh;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  img {
    width: 100%;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  