body {
    margin: 0;
    padding: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .intro {
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(
      to top,
      #fbc2eb 0%,
      #a6c1ee 100%
    );
    padding: 50px;
  }
  
  .footer > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  div {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
  }
  
  li {
    margin: 1em;
    padding: 1em;
  }
  
  h1,
  h2 {
  }
  
  h1 {
    font-family: "Expletus Sans", cursive;
    font-size: 5em;
    max-width: 800px;
  }
  
  h2 {
    font-family: "Expletus Sans", cursive;
    font-size: 3em;
  }
  
  p {
    font-family: "Helvetica", sans-serif;
  
    font-size: 2em;
  }
  