body {
    background-color: blanchedalmond;
    padding: 3em;
  }
  
  h1 {
    font-size: 12rem;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img {
    width: 100%;
  }
  