:root {
    --gradient-light: linear-gradient(
      160deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75)
    );
    --gradient-dark: linear-gradient(
      145deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    );
    --gradient-arcobaleno: linear-gradient(
      #40e0d0,
      #ff8c00,
      #ff0080
    );

    --gradient-giocoso: linear-gradient(
    to top,
    #fbc2eb 0%,
    #a6c1ee 100%
  );
  }
  
  body {
    background-color: #dddddd;
    color: #333333;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.125;
    line-height: 1.6;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  section {
    padding: 200px;
  }
  .one {
    background: var(--gradient-dark);
  }
  
  .two {
    background: var(--gradient-light);
  }
  
  .three {
    background: var(--gradient-arcobaleno);
  }
  
  .four {
    background: var(--gradient-giocoso);
  }
  
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}