body {
    background: lightcoral;
    color: blue;
    font-size: 2vw;
    margin: 2em;
}

h1 {
    font-size: 5em;
}

p {
    margin: 1em;
}

main {
    display: flex;
}

.flash {
    width: 20em;
    background: yellow;
    height: 2em;
    animation-name: flash;
    animation-duration: 13s;
}

.gordon {
    width: 20em;
    background: blue;
    height: 2em;
    animation-name: gordon;
    animation-duration: 13s;
}

@keyframes flash {
    0% {transform: rotate(250deg); background: lightcyan; width: 100em;}
    20% {background: blue;}
    60% {}
    100% {}
}


@keyframes gordon {
    0% {transform: rotate(250deg); background: lightcyan; width: 100em;}
    20% {background: blue;}
    60% {}
    100% {}
}
