:root {
    background-color: black;
  }
  
  body {
    background-color: whitesmoke;
    margin: 3em;
    padding: 3em;
    opacity: 0.5;
  }
  
  img {
    width: 100%;
  }
  
  #logo {
    font-size: 3rem;
  }
  
  #navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }
  