:root {
    font-size: 2vw;
  }
  
  body {
    margin: 0;
    padding: 2em;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  nav ul {
    list-style-type: none;
    float: right;
  }
  
  a:focus,
  a:active {
    color: red;
  }
  