body {
    background-image: url(https://images.unsplash.com/photo-1589496931726-f60699725709?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: 2em;
}

h1 {
    font-size: 11rem;
}

p {
    font-size: 1.245rem;
}

button {
    background: red;
    color: gold;
    font-size: 2rem;
    font: Times;
    padding: 0.6em;
    box-shadow: 10px 10px 20px gold;
}

body img {
    filter: grayscale(2);
}