* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

main {
    top: 100px;
    position: relative;
}

#header-img {
    position: relative;
    left: 100px;
    height: 100%;
    width: 150px
}

#nav-bar {
    position: relative;
    right: 200px;
}

#nav-bar li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;
}

.s1 {
    width: 100%;
    height: 250px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper1 {
    position: relative;
    padding: 50px 50px;
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.s2 {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.s3 {
    width: 100%;
    height: 300px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 12%;
    grid-gap: 15px;
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
    text-justify: auto;
}

.col-1 {
    background-color: aqua;
}

.col-2 {
    background-color: aquamarine;
}

.col-3 {
    background-color: cyan;
}

.col-t {
    background-color: red;
    height: 75px;
    width: 100%;
    font-size: 25px;
    margin: 0 auto;
}

.col-t p {
    padding-top: 5%;
}

.col-m p {
    padding-top: 15px;
    font-size: 20px;
}

.col-p p {
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 19px;
}

.bottom {
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bottom h3 {
    margin-left: -10px;
}

#newsletter {
    margin-top: 25px;
}

#submit {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

i {
    margin-right: 25px;
}

@media (max-width: 600px) {
    #nav-bar li {
        display: block;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: bold;
        color: red;
        margin-left: 300px;
    }

    .col-p p {
        font-size: 16px;
        color: red;
    }

    #video {
        width: 400px;
    }
}

