body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    padding: 15vw;
    display: flex;
    justify-content: center;
  }
  
  main p {
    position: absolute;
    top: 10vh;
    border-bottom: 2px solid blue;
  }
  