:root {
    font-size: 12px;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: lavenderblush;
  }
  
  header {
    margin: 0;
    padding: 2em;
  }
  
  main {
    margin: 1em;
    padding: 2em;
  }
  
  footer {
    margin: 1em;
    padding: 2em;
  }
  h1 {
    font-size: 8rem;
  }
  