body {
    background: black;
    color: darkgoldenrod;
    margin: 3em;
    padding: 1em;
    
    border: solid;
}

header {
    display: flex;
    border: solid;
}

h1 {
    font-size: 11rem;
}
.line {
    position: absolute;
    top: 2em;
    left: 3em;
    background-color: deepskyblue;
    width: 1900px;
    height: 200px;
    transform: rotate(70deg);
    mix-blend-mode: difference;
   
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    border: solid;
}

.dot {
    color: darkseagreen;
    font-size: 7rem;
}

