:root {
    background: firebrick;
  }
  
  body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: black;
    margin-top: 120px;
  }
  
  #logo {
    font-size: 3rem;
    position: fixed;
    left: 30px;
    top: 30px;
  }
  
  #navbar {
    right: 30px;
    top: 30px;
    position: fixed;
  }
  
  img {
    width: 100%;
  }
  
  nav {
    width: 500px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  #navbar li:hover {
    transform: rotateZ(30deg);
  }
  
  h1 {
    font-size: 12rem;
  }
  
  #hero h1 {
    position: absolute;
    padding: 50px;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    margin: 2em;
    padding: 3em;
    grid-gap: 2em;
  }
  
  footer {
    margin: 2em;
    padding: 60px;
  }
  