body {
    background: linear-gradient(100deg, pink 20%, whitesmoke 80%);
    font-size: 2vw;
    border: 2em solid black;
}

h1 {
    font-size: 6rem;
    font-weight: 900;
}

main {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 2em;
}

header {
    margin: 3em;
}