body {
    margin: 0;
  
    font-size: 13px;
  }
  
  header {
    margin: 5em;
    font-size: 1.2rem;
  }
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
  
  .container img {
    width: 100%;
  }
  
  .wrap {
    max-width: 540px;
  }
  
  main {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 46px;
  }
  
  .nav {
    text-align: justify;
  }
  