:root {
    font-size: 2vw;
    font-family: "Courier New", Courier, monospace;
  }
  
  body {
    margin: 4em;
    padding: 5em;
  }
  
  img {
    width: 100%;
  }
  
  #logo {
    font-size: 3rem;
  }
  
  nav {
    position: fixed;
    right: 30px;
    top: 0;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  main {
    margin: 3em;
    padding: 5em;
  }
  