body {
   
    background: linear-gradient(rgb(87, 139, 250), rgb(109, 163, 249), rgb(127, 188, 247), rgb(141, 213, 245), rgb(152, 238, 242));background-size: cover;
background-repeat: no-repeat;
margin: 3em;
padding: 3em;

}





h1 {
    font-size: 15rem;
    mix-blend-mode: overlay;
    text-shadow: 3px 3px 30px white;
    animation-name: shadow;
    animation-duration: 10s;
}

@keyframes shadow {

    20% {text-shadow: 30px 30px 90px red}
    40% {text-shadow: 30px 30px 90px rgb(255, 255, 255)}
    60% {text-shadow: 30px 30px 90px rgb(14, 26, 192)}
    80% {text-shadow: 30px 30px 90px rgb(135, 231, 9)}
}

