body {
    background: lemonchiffon;
}

header {
    padding: 50px;
}
h1 {
    font-size: 5rem;
}


.end {
    background-color: black;
    color: whitesmoke;
    padding: 5em;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}