body {
    background-color: black;
    color: red;
    margin: 2em;
}

h1 {
    font-size: 10rem;
}


.line {
    
    background: blue;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 2em;
}

.line2 {
    
    background: yellow;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 5em;
}

.line3 {
    
    background: yellow;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 2em;
    right: 3em;
}

.line4 {
    
    background: red;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 6em;
    left: 7em;
}

.line5 {
    
    background: yellow;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 5em;
    right: 2em;
}

.line6 {
    
    background: green;
    mix-blend-mode: difference;
    width: 600px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 5em;
    left: 6em;
}