:root {
    background-color: aqua;
  }
  
  header {
    background-color: whitesmoke;
    padding: 40px;
  }
  
  img {
    width: 100%;
  }
  
  main {
    margin: 2em;
    padding: 50px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 30px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  article {
    margin: 1em;
    padding: 30px;
  }
  
  #logo {
    font-size: 3rem;
    font-weight: bolder;
  }
  
  #navbar {
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  h1 {
    font-size: 11rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 1.8rem;
  }
  
  footer {
    margin: 2em;
    padding: 40px;
  }
  