body {
    background: violet;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url("1.gif");
    height: 200vh;
    width: 50vw;
    text-align: center;
    background-repeat: no-repeat;
  
    background-size: cover;
  }
  
  h1 {
    font-size: 8vw;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 2rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}