body {
    background-color: tan;
  }
  
  h1 {
    font-family: Georgia, "Times New Roman", Times,
      serif;
    font-size: 9rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  .hidden {
    width: 300px;
    height: 300px;
    overflow: visible;
    background-color: whitesmoke;
  }
  
  div {
    padding: 10px;
  }
  