@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700");

body {
  background-color: black;
  color: gold;
}

h1 {
  color: gold;
  font-size: 9rem;
  font-family: "Quattrocento", serif;
  font-weight: 700;

  transition: font-size 4s;
  transition-timing-function: linear;
}

h1:hover {
  font-size: 17rem;
}
