body {
    background-color: honeydew;
  }
  
  header {
    display: flex;
  }
  
  header > div:nth-child(3) {
    margin-left: auto;
  }
  
  div {
    font-size: 2rem;
    margin: 1em;
  }
  
  main {
    margin: 2em;
    padding: 2em;
  }
  