body {
    background: linear-gradient(15deg, pink 10%, whitesmoke 90%);
    background-repeat: no-repeat;
}

header {
    margin: 2em;
    padding: 2em;
}


h1 {
    font-size: 7rem;
}

p {
    font-size: 1.1rem;
}

