body {
    background: white;
    margin: 3em;
    padding: 2em;
}

.line {
    width: 660px;
    height: 5px;
   
}

.one {
    background: black;
   
}

.two {
    background: red;
    
}

.three {
    background: blue;
}


.sopra {
    position: absolute;
    top: -5em;
    right: 12em;
    z-index: -2;
   
}

.img-fluid {
    width: 300px;
}

.art {
    color: blue;
}

article {
    width: 900px;
}