:root {
    font-size: 2vw;
  }
  
  body {
    margin: 1em;
    padding: 1em;
    background: silver;
  }
  
  .container {
    display: grid;
    grid-template-columns: 40px 500px auto 450px 40px;
    grid-template-rows: 150px 150px 150px;
    border: 1px solid black;
    overflow: hidden;
  }
  
  .item-a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid green;
    overflow: hidden;
  }
  
  .item-b {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid red;
  }
  
  .item-c {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid blue;
  }
  
  h1 {
    font-size: 5rem;
    margin: 0;
  }
  
  h2 {
    margin: 0;
  }
  