body {
    background: linear-gradient(whitesmoke, gray 60%);
}

.jumbotron {
    background: linear-gradient(black, gray 40%);
    padding: 2em;
}


img {
    width: 100%;
}

h1 {
    font-size: 13rem;
}

p {
    font-size: 1.2rem;
}