body {
    background: linear-gradient(6deg, silver 30%, whitesmoke 70%);
    background-repeat: no-repeat;
  }
  
  header {
    margin: 2em;
    padding: 2em;
  }
  
  main {
    margin: 2em;
    padding: 2em;
    background: linear-gradient(20deg, whitesmoke 30%, silver 70%);
    box-shadow: 5px 6px 9px black;
  }
  
  h1 {
    font-size: 8rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  