body {
    background-color: bisque;
    padding: 3em;
  }
  
  h1 {
    font-size: 11rem;
    top: 30px;
    position: absolute;
    color: bisque;
    text-shadow: 3px 3px black;
  }
  
  img {
    width: 100%;
  }
  
  p {
    padding: 3em;
    position: absolute;
    top: 90vh;
    font-size: 2rem;
  
    background-color: bisque;
  }
  