body {
    background: linear-gradient(rgb(21, 47, 174), rgb(70, 97, 169), rgb(85, 147, 161), rgb(80, 198, 151), rgb(35, 251, 136));
}

.jumbotron {
    margin-top: 5em;
    background: transparent;
    color: tomato;
}

img {
    filter: invert(1);
}