:root {
    font-size: 12px;
  }
  
  body {
    background: lightgoldenrodyellow;
    --color-link: black;
  }
  
  header {
    margin: 1em;
    padding: 2em;
  }
  
  h1 {
    font-size: 9rem;
  }
  
  .container {
    margin: 2em;
    margin-top: 10em;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
  }
  
  #logo {
    margin: 2em;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 2em;
  }
  
  nav {
    position: absolute;
    right: 2em;
    top: 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    padding: 1em;
    color: gray;
  }
  
  button {
    border: 1px solid black;
    padding: 1em;
    background: transparent;
    font-size: 1.5rem;
  }
  
  img {
    width: 35%;
    margin: 0;
    padding: 0;
  }
  