:root {
    --background: black;
    --color: whitesmoke;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background: var(--background);
    color: var(--color);
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  nav {
    top: 30px;
    right: 50px;
    position: absolute;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  nav a {
    transition: opacity 250ms ease-in-out 250ms;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 3rem;
    margin: 2em;
    padding-top: 2em;
  }
  
  .logo {
    font-size: 3rem;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  
  img {
    width: 100%;
  }
  
  main {
    position: absolute;
    top: 500px;
    margin: 2em;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    font-size: 2rem;
  }
  