body {
    background: lavender;
    padding: 3em;
    border: 55px solid white;
}

h1 {
    font-size: 33rem;
    
    text-shadow: gray 15px 15px 62px;
}

.well {
    animation-name: animal;
    animation-duration: 35s;
    padding: 3em;
}

@keyframes animal {
    0% {background: linear-gradient(white, gray);}
    50% {background: gray;}
    50% {color: black;}
    50% {background: linear-gradient(gray, white);}
    
    100% {background: lightcoral;}
}