@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

body {
  background-color: black;
}

h1 {
  color: royalblue;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 9rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: greenyellow;
}

h2 {
  color: royalblue;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: greenyellow;
}

main {
  background-color: red;
  padding: 4em;
}

p {
  color: royalblue;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: greenyellow;
  text-align: justify;
}
