body {
    background-color:violet;
    color: hotpink;
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 11rem;
}

.line {
    background: hotpink;
    mix-blend-mode: difference;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2em;
    left: 2em;
    animation-name: big;
    animation-duration: 10s;
}


.line2 {
    background: hotpink;
    mix-blend-mode: difference;
    width: 800px;
    height: 5px;
    
    position: absolute;
    top: 2em;
    right: 2em;
    animation-name: destra;
    animation-duration: 10s;
}

.line3 {
    background: hotpink;
    mix-blend-mode: difference;
    width: 800px;
    height: 5px;
    
    position: absolute;
    top: 10em;
    right: 2em;
    animation-name: basso;
    animation-duration: 10s;
}


.line4 {
    background: hotpink;
    mix-blend-mode: difference;
    width: 800px;
    height: 35px;
    
    position: absolute;
    top: 20em;
    right: 2em;
    animation-name: moltobasso;
    animation-duration: 10s;
}


@keyframes big {
    50% {transform: scale(35);}
}

@keyframes destra {
    50% {transform: scale(-5);}
}

@keyframes basso {
    50% {transform: scale(-5);}
}

@keyframes moltobasso {
    50% {transform: scale(5);}
}