body {
    background: radial-gradient(#f7b2ca, #fcefc6, #94d1cc, #78add9);
    margin: 2em;
    padding: 2em;
}

header {
    margin-top: 2em;
    padding-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
h1 {
    font-size: 11rem;
    color: black;
    mix-blend-mode: overlay;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
    padding-top: 2em;
}

img {
    width: 100%;
}