body {
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
  }
  
  .jumbotron {
    background: transparent;
    color: whitesmoke;
  }
  
  header {
    margin: 2em;
    padding: 2em;
  }
  
  h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 18rem;
    color: red;
  }
  