body {
    background-color: antiquewhite;
  }
  
  header {
    padding: 50px;
  }
  
  header img {
    width: 100%;
  }
  
  h1 {
    font-size: 12rem;
    padding-top: 0;
    margin-top: 0;
  }
  
  #logo {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
  }
  
  main {
    margin: 50px;
    padding: 30px;
    background-color: black;
    color: antiquewhite;
    font-size: 4rem;
  }
  