:root {
    font-size: 2vw;
  }
  
  body {
    background-image: url("https://images.unsplash.com/photo-1568655029121-802fc55cf976?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background: white;
    margin: 2em;
    padding: 2em;
  }
  
  main {
    background: white;
    margin: 2em;
    padding: 2em;
  }
  
  footer {
    background: white;
    margin: 2em;
    padding: 2em;
  }
  
  .logo {
    background: white;
    margin: 2em;
    padding: 2em;
  }
  