body {
    background-image: url(https://images.unsplash.com/photo-1616262939155-84e6cd3f90fb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}


h1 {
    font-size: 12rem;
    mix-blend-mode: difference;
    box-shadow: 10px 10px 10px rgb(174, 223, 170);
    text-shadow: 10px 10px 10px rgb(160, 233, 111);
    padding: .1em;
    color: rgb(255, 0, 221);
}


header {
    margin: 2em;
    padding: 2em;
}