:root {
    background-color: yellowgreen;
  }
  ¨ body {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 2em;
  }
  
  #logo {
    font-size: 5rem;
    text-shadow: 4px 5px 6px whitesmoke;
  }
  
  @media only screen and (max-width: 385px) {
    .middle {
      grid-template-columns: repeat(1, 300px);
      text-align: justify;
    }
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  img {
    width: 100%;
  }
  