body {
    background: linear-gradient(gray, white, gray 30%);
    margin: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation-name: gip;
    animation-duration: 15s;
}

h1 {
    font-size: 12rem;
    text-decoration: line-through red;
}

@keyframes gip {
    0% {transform: scale(2);}
    
    100%  {background-color: darkorange;}
}