body {
    background-color: lightblue;
    margin: 1em;
  }
  
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  header img {
    width: 100%;
    box-shadow: 10px 10px 5px white;
  }
  
  h1 {
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px white;
    border: 5px dotted blue;
    padding: 5px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px white;
    border: 5px dotted blue;
    padding: 5px;
    margin-top: 0;
  }
  p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .totem {
    background-color: yellow;
  }
  