@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rambla:700,700i");

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  padding: 5vh;
  background-image: url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&auto=format&fit=crop&w=2027&q=80);
}

h1 {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
  font-family: "Rambla", sans-serif;
  color: goldenrod;
  text-shadow: 0px 10px 10px black;
}

h2 {
  font-size: 6rem;
  text-align: center;
  margin-top: 0;
  font-family: "Rambla", sans-serif;
  color: black;
  text-shadow: 0px 10px 10px gray;
}

p {
  font-size: 2rem;
}

hr {
  background: whitesmoke;
  height: 3px;
  border-top: 1px dashed #8c8b8b;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 3em;
  margin-top: 6em;
}

main img {
  max-width: 100%;
  border-radius: 35%;
}

article {
  margin: 2em;
  text-align: justify;
}

.space:hover {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.hinge {
	margin-left: 80px;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge:hover {
  animation-duration: 2s;
  animation-name: hinge;
}