.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}


.container > div {
background: #eee;
padding: 1em;
}

.container > .intro {
    background: repeating-linear-gradient(15deg, black, yellow);
    font-size: 9em;
}

.container > .c2 {
    background: blue;
    color: whitesmoke;
    font-size: 6em;
}

.container > .c3 {
    background: purple;
    color: whitesmoke;
    font-size: 4em;
}


.container > .c4 {
    background: greenyellow;
    color: whitesmoke;
    font-size: 6em;
}