
header {
    background-image: url(001.png);
    padding: 20vh;
}

h1 {
    font-size: 7rem;
    color: wheat;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: skew(20deg, 0deg);
    box-shadow: 15px 10px whitesmoke;
}