:root {
    background-color: red;
  }
  
  body {
    background-color: black;
    opacity: 0.5;
    margin: 2em;
    padding: 50px;
    color: whitesmoke;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    font-size: 8rem;
    color: white;
  }
  
  p {
    font-size: 1.5rem;
  }
  