@import url("https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

html {
  font-size: 63%;
}

body {
  background: peachpuff;
  margin: 20vw;
  font-family: "Spectral", serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 5vw;
  line-height: 0.1;
  font-weight: 800;
  font-stretch: 100;
  font-optical-sizing: 24;
  font-family: "Spectral", serif;
}

.pie {
  padding: 20vmin;
  border-radius: 50%;
  --value: 0%;
  animation: progress 1s infinite;
  background: conic-gradient(
    black var(--value, 0%),
    red 50%,
    blue 0
  );
}

@keyframes progress {
  to {
    --value: 100%;
  }
}
