body {
    background: radial-gradient(blue 90%, gray);
    padding: 2em;

}

header {
    overflow: hidden;
}

h1  {
    font-size: 105rem;
    text-shadow: 22px 22px 22px white;
}

.well {
    animation-name: billy;
    animation-duration: 22s;
    
}

@keyframes billy {
    0% {color: aqua;}
    20% {color: red;}
    40% {color: blue;}
    40% {transform: scale(2);}
    80% {transform: scale(5);}
    80% {color: lavenderblush;}
    90% {transform: rotate(360deg);}
    
}