body {
    font-size: 2vw;
    background: linear-gradient(rgb(162, 154, 227), rgb(174, 178, 231), rgb(184, 202, 234), rgb(194, 226, 237), rgb(203, 251, 240));

}

header {
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 11rem;
}

main {
    margin: 2em;
    padding: 2em;
    display: flex;
}

p {
    margin: 1em;
}

button {
    margin: 1em;
}