body {
    padding: 5em;
    background: linear-gradient(magenta, whitesmoke);
    background-repeat: no-repeat;
    font-size: 3vw;
    
   
}

header {
   
    border: yellowgreen 55px 55px 55px;
}

h1 {
    font-size: 40rem;
    box-shadow: whitesmoke 20px 20px 20px 100px;
    padding: 2em;
    
}

img {
    width: 100%;
    animation-name: bg;
    animation-duration: 7s;
}

main {
    animation-name: bg;
    animation-duration: 7s;
    
}

@keyframes bg {
    0% {background: yellow;}
    50% {transform: scale(2);}
    100% {background: linear-gradient(blue, yellow 20%);}
}