@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
  background-color: lawngreen;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

h1 {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
}
