body {

    background: linear-gradient(rgb(163, 246, 253), rgb(171, 223, 239), rgb(177, 200, 225), rgb(180, 177, 211), rgb(182, 154, 197));
    color: black;
}

header {
    margin: 2em;
    padding: 3em;
}


main{
    margin: 2em;
    padding: 3em;
}


.flex-container {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 2em
}

.flex-container-main {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 2em
}


h1 {
    font-size: 9rem;
}

img { width: 100%; 
mix-blend-mode: overlay;

}

